<!DOCTYPE html>
<html>
  <head>
    <title>X University Portal</title>
  </head>

    <body>

      <h1>Add Quiz</h1>

    <div>

    <form action ="/quiz/add" method="POST">
      Quiz #:
      <input type="text" name="quizid"></input><br>
      Subject:
      <input type="text" name="subject"></input><br>
      Questions:
      <input type="text" name="questions"></input><br>
      Date Given:
      <input type="text" name="date"></input><br>
      <br><input type="submit" value="Add Quiz">
    </form>

  </body>
</html>
